@model PBin.Models.ViewModels.LoginViewModel
@{  
    ViewBag.Title = "Login";
}   
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Login</h1>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "LoginForm", enctype = "multipart-form-data" }))
                {
                    <div class="input-group">
                        <span class="input-group-addon">User Name</span>
                        <input type="text" id="Email" value="" name="Email" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Password</span>
                        <input type="password" id="Password" name="Password" class="form-control" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon text-left" style="width:100%; color: red;"></span>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>
                    </div>
                }
                
            </div>            
        </div>
    </div>
</div>
<div id="feedback" class='col-xs-12' style='display:none'>@Model.sts</div>